@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/roboto-regular.woff2) format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/merriweather-regular.woff2) format("woff2");
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-recoleta);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-merriweather);
  color: black;
  font-weight: 500;
}
